<div>
  <table [dataSource]="dataSource" mat-table matSort>


    <ng-container matColumnDef="teacher">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Enseignant</th>
      <td *matCellDef="let element" mat-cell> {{getTeacher(element)}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Type</th>
      <td *matCellDef="let element" mat-cell> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="horaire">
      <th *matHeaderCellDef mat-header-cell> Horaire</th>
      <td *matCellDef="let element" mat-cell> {{getHoraire(element)}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Date</th>
      <td *matCellDef="let element" mat-cell> {{getDate(element)}} </td>
    </ng-container>

    <ng-container matColumnDef="cour">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Cour</th>
      <td *matCellDef="let element" mat-cell> {{getCourseName(element)}} </td>
    </ng-container>
    <ng-container matColumnDef="nbInscrits">
      <th *matHeaderCellDef mat-header-cell> Nb. Inscrits</th>
      <td *matCellDef="let element" mat-cell> {{getNbInscrit(element)}} </td>
    </ng-container>
    <ng-container matColumnDef="inscription">
      <th *matHeaderCellDef mat-header-cell>
        Inscription
      </th>
      <td *matCellDef="let element" mat-cell>
        <mat-checkbox (change)="handleCheckDeclarants ($event.checked, element)"
                      (click)="$event.stopPropagation()"
                      [checked]="checkedDeclarants(element)"
                      [disabled]="checkEventDone(element)">

        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>
      </th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="presentsClassEvent(element) " color="primary" mat-button>Valider Présence</button>
        <button (click)="editClassEvent(element)" color="accent" mat-button>Modifier</button>
        <button (click)="deleteModale(element)" color="warn" mat-button>Supprimer</button>

      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns.concat(dynamicColumns)" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns.concat(dynamicColumns);" mat-row></tr>

  </table>

</div>
