/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --clear-blue: #0EB1E4;
  --medium-blue: #1D5E9F;
  --dark-blue: #0E4DA4;
  --light-grey: #F8F8F8;
  --grey: #dddddd;
  --red: #993D57;
  --main-gradient: linear-gradient(90deg, var(--clear-blue) 0%, var(--medium-blue) 82.81%, var(--dark-blue) 100%);
}

.custom-button {
  box-shadow: none !important;
  font-weight: normal !important;
  border-radius: 5px !important;
}

.custom-button-blue {
  @extend .custom-button;
  background: var(--medium-blue) !important;
  color: white !important;
}

.custom-button-grey {
  @extend .custom-button;
  background: white !important;
  color: var(--medium-blue) !important;
  border: 1px solid var(--medium-blue) !important;
}

.custom-button-grey-red {
  @extend .custom-button;
  background: white !important;
  color: var(--red) !important;
  border: 1px solid var(--red) !important;
}


.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}

.mat-button-disabled {
  color: aqua;
  background-color: var(--grey) !important;
}

th {
  background: var(--light-grey);
}
.mat-row {
  height: auto;
}

.mat-cell {
  padding: 6px 22px 6px 0 !important;
}

@import "~@ng-select/ng-select/themes/default.theme.css";

