<div class="container">
  <div>
    <button (click)="createOrUpdateTraining(null)" class="custom-button-blue" mat-raised-button mat-stroked-button>
      Nouvelle formation
    </button>
  </div>
  <div>
    <div>
      <mat-form-field>
        <input #filterInput (keyup)="applyFilter($event)" [formControl]="filterInputControl" matInput
               placeholder="Rechercher par nom">
      </mat-form-field>
      <button (click)="deleteTrainings()" class="custom-button-grey-red" mat-raised-button mat-stroked-button>
        Supprimer
      </button>
    </div>
    <table [dataSource]="trainings" mat-table matSort matSortActive="nom"
           matSortDirection="asc">

      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [aria-label]="checkboxLabel()"
                        [checked]="selectedTrainings.hasValue() && isAllSelected()"
                        [indeterminate]="selectedTrainings.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" class="select" mat-cell>
          <mat-checkbox (change)="$event ? selectedTrainings.toggle(row) : null"
                        (click)="$event.stopPropagation()"
                        [aria-label]="checkboxLabel(row)"
                        [checked]="selectedTrainings.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
        <td *matCellDef="let row" mat-cell>{{row.nom}}</td>
      </ng-container>

      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">Aucune formation ne correspond à "{{filterInput.value}}"</td>
      </tr>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    </table>
  </div>
</div>
