.container {
  margin-top: 10px;

  .top-bar {
    display: table;
  }


  .grey {
    color: var(--medium-blue);
  }


  .monthYear {
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
  }

  .week {
    color: black;
    font-size: 15px;
    font-weight: normal;
    line-height: normal;
    min-height: 22px;
  }

  .day {
    text-align: center;
    width: 175px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;

    h4 {
      margin-top: 10px;
      margin-bottom: 0;

    }
  }
}

.list {
  border: solid 1px var(--grey);
  border-bottom: none;
  border-top: none;
  min-height: 320px;
  background: white;
  overflow: hidden;
  display: block;
}

.box {
  margin: 5px;
  padding: 5px 2px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: move;
  background: blue; // backdrop color
  font-size: 14px;
  color: white;

  .actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;

    div {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
    }

    mat-icon {

    }

    p {
      margin: 0;
    }
  }

  .p {
    margin-left: auto;
    margin-right: auto;
  }
}

.course {
  margin-left: auto;
  margin-right: auto;
}

.cdk-drag-placeholder {
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
}

.cdk-drag-preview {
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
