<div class="container">
  <div class="top-bar">
    <button (click)="today()" mat-raised-button>Aujourd'hui</button>
    <button (click)="weekChange(-1)" aria-label="semaine précédente" class="mat-icon-button"
            mat-icon-button>
      <mat-icon><span class="material-icons">chevron_left</span></mat-icon>
    </button>
    <button (click)="weekChange(1)" aria-label="semaine suivante" class="mat-icon-button"
            mat-icon-button>
      <mat-icon><span class="material-icons">chevron_right</span></mat-icon>
    </button>
    <span class="monthYear">{{getMonthYear() | titlecase }}</span>
    <button class="week" disabled mat-raised-button>semaine {{weekNumber}}</button>
  </div>

  <div cdkDropListGroup>
    <div *ngFor="let day of coursesOfTheWeek; let index = index" class="day">

      <h4>{{day.name}}</h4>
      <h2>{{getDay(index)}}</h2>
      <div
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="day.classEvents"
        cdkDropList
        class="list">
        <div *ngFor="let item of day.classEvents" class="box"
             style="{{'background:' + getColor(item)}}"
        >
          <div
            #classEvent
            (mouseleave)="hoverElement=undefined" (mouseover)="hoverElement=classEvent">
            {{getLine1(item)}} <br>
            {{getLine2(item)}} <br>
            {{getLine3(item)}} <br>
            {{getLine4(item)}}
            <div *ngIf="classEvent === hoverElement && !authService.isStudent()" class="actions">
              <div (click)="editClassEvent(item)">
                <mat-icon>
                  edit
                </mat-icon>
                <p>Modifier</p>
              </div>
              <div (click)="presentsClassEvent(item)">
                <mat-icon>
                  people
                </mat-icon>
                <p>Presence</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
