.container {
  .time-choice ::ng-deep {
    .mat-form-field-infix {
      padding: 0;
      border: 0;
    }

    .mat-form-field-wrapper {
      padding: 0;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;
  }

  .time-choice {
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;

    ::ng-deep {
      .ngx-timepicker {
        border: none;
      }

      input {
        margin-top: 5px;
      }

      .ngx-timepicker__time-colon {
        margin-top: 5px;
      }

      ngx-material-timepicker-toggle {
        margin: 18px 10px 10px 10px;
      }
    }
  }
}


