<div class="container">
  <h1>Ajout d'un Créneau</h1>
  <form (ngSubmit)="onSubmit()" ngForm #myForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input [(ngModel)]="date" [matDatepicker]="picker" matInput name="date" required>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="time-choice">
      <mat-form-field appearance="outline">
        <div style="display: flex">
          <input
            #beginTimeComponent
            matInput
            [ngxTimepicker]="timePickStart"
            placeholder="Début"
            [format]="24"
            [min]="'07:00'"
            [max]="'21:59'"
            [value]="beginTime"

            required
          />
          <ngx-material-timepicker-toggle
            [for]="timePickStart"
          ></ngx-material-timepicker-toggle>
          <ngx-material-timepicker
            #timePickStart
            (timeChanged)="beginTimeChange($event)"
            [defaultTime]="beginTime"
          ></ngx-material-timepicker>
        </div>
      </mat-form-field>
    </div>
    <div class="time-choice">
      <mat-form-field appearance="outline">
        <div style="display: flex">
          <input
            #endTimeComponent
            matInput
            [ngxTimepicker]="timePickEnd"
            placeholder="Fin"
            [format]="24"
            [min]="'07:01'"
            [max]="'22:00'"
            [value]="endTime"
            required
          />
          <ngx-material-timepicker-toggle
            [for]="timePickEnd"
          ></ngx-material-timepicker-toggle>
          <ngx-material-timepicker
            #timePickEnd
            (timeChanged)="endTimeChange($event)"
            [defaultTime]="endTime"
          ></ngx-material-timepicker>
        </div>
      </mat-form-field>
      <span *ngIf="!isTimeValid()" style="color: red">L'heure de fin doit être après l'heure de début</span>
    </div>
    <mat-form-field>
      <mat-label>Enseignant</mat-label>
      <input [(ngModel)]="enseignant"
             [formControl]="myControlEnseignant"
             [matAutocomplete]="auto1"

             aria-label="Enseignant"
             matInput
             name="enseignant"
             placeholder="Enseignant"
             required
             type="text">
      <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayOptionsEnseignant">
        <mat-option *ngFor="let optionsEnseignant of filteredOptionsEnseignant | async" [value]="optionsEnseignant">
          {{displayOptionsEnseignant(optionsEnseignant)}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enseignement</mat-label>
      <input [(ngModel)]="enseignement"
             [formControl]="myControlEnseignement"
             [matAutocomplete]="auto2"
             aria-label="Enseignement"
             matInput
             name="enseignement"
             placeholder="Enseignement"
             required
             type="text">
      <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayOptionsEnseignement">
        <mat-option *ngFor="let optionsEnseignement of filteredOptionsEnseignement | async"
                    [value]="optionsEnseignement">
          {{optionsEnseignement.nom}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Type de Cours</mat-label>
      <mat-select [(ngModel)]="typeCours" name="typeCours" required>
        <mat-option *ngFor="let name of enumTypeCours" [value]="name">
          {{conditionalOperatorTypeCours[name]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Modalité</mat-label>
      <mat-select [(ngModel)]="modalite" name="modalite" required>
        <mat-option *ngFor="let name of enumModal" [value]="name">
          {{conditionalOperatorModal[name]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <div class="buttons">
      <button class="custom-button-blue" color="primary" mat-raised-button type="submit" [disabled]="myForm.invalid">Enregistrer</button>
      <button class="custom-button-grey" (click)="cancel()" color="primary" mat-raised-button type="button">Annuler</button>
    </div>
  </form>
  <br>
</div>
