<div class="container">
  <h1>{{!training.id ? 'Créer une formation' : 'Modifier la formation'}}</h1>
  <form (ngSubmit)="onSubmit()" ngForm>
    <mat-form-field>
      <input [formControl]="name" matInput placeholder="Entrez un nom">
    </mat-form-field>
    <div *ngIf="nameIsAlreadyTaken()">
      Ce nom est déjà utilisé
    </div>
    <br>
    <div class="buttons">
      <button (click)="cancel()" class="custom-button-grey" color="primary" mat-raised-button type="button">Annuler
      </button>
      <button [disabled]="nameIsAlreadyTaken() || isNameEmpty()" class="custom-button-blue" color="primary"
              mat-raised-button type="submit">{{!training.id ? 'Créer' : 'Modifier'}}</button>
    </div>
  </form>
</div>
