.container {
  font-weight: bold;
  min-width: 150px;
  max-width: 350px;
  min-height: 20px;
  padding: 10px;
  margin: 10px;
  background: white;
  border-radius: 10px;
  border: solid 2px;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  border-color: var(--grey);
}

.error {
  animation: blinking 10s;
  border-color: brown;
}

@keyframes blinking {
  0% {
    background-color: brown;
  }
  30% {
    background-color: white;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
