.container {
  h1 {
    font-size: large;
    width: fit-content;
    color: var(--dark-blue);
  }

  display: flex;
  @media (max-width: 640px) {
    flex-direction: column;
  }

  app-sidebar {
    flex-grow: 1;
  }

  .content {
    @media (max-width: 640px) {
      flex-direction: column;
    }
    flex-grow: 1000;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 50px;

    .top-bar {
      margin-bottom: 20px;

      h1 {
        margin-bottom: 0;
        line-height: 40px;
      }

      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: space-between;

      .user {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-bottom: 0;

        button {
          margin-left: 10px;
          background-color: var(--dark-blue);;
          color: white;
        }
      }
    }
  }
}
