<div class="container">
  <app-sidebar></app-sidebar>
  <div class="content">
    <div class="top-bar">
      <h1>{{ title.getTitle() }} </h1>
      <div class="user">
        <h1>{{user?.prenom}} {{user?.nom | uppercase}}</h1>
        <button (click)="this.authService.logout()" aria-label="Déconnexion" class="logout" mat-mini-fab
                matTooltip="Déconnexion"
                matTooltipPosition="left">
          <mat-icon> account_circle_outline</mat-icon>
        </button>

      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
<app-notification *ngIf="notificationService.active"></app-notification>


