<div class="container">
  <h1>Faire l'appel</h1>

  <table style="width:100%">
    <tr>
      <th>Prenom/Nom</th>
      <th>Presence</th>
    </tr>
    <tr *ngFor="let etudiant of listeEtudiantInscrit">
      <td><span>{{etudiant.etu.nom}} {{etudiant.etu.prenom}}</span></td>
      <td><mat-checkbox [(ngModel)]="etudiant.isPresent"></mat-checkbox></td>
    </tr>
  </table>
  <br>
  <div class="buttons">
    <button (click)="onSubmit()" class="custom-button-blue" color="primary" mat-raised-button type="button">
      Enregistrer
    </button>
    <div> </div>
    <button class="custom-button-grey" (click)="cancel()" color="primary" mat-raised-button type="button">Annuler</button>
  </div>
</div>


