<div class="bg login-page">
  <div class="block">
    <h1>Connexion</h1>
    <ng-select
      [(ngModel)]="selectedUserId"
      [items]="users"
      notFoundText="Pas d'utilisateur trouvé"
      placeholder="Choisissez un utilisateur"
      bindLabel="nom"
      bindValue="id"
    >
      <ng-template let-item="item" ng-label-tmp>
        {{item.prenom | titlecase}} {{item.nom | uppercase}} - {{item.profil | titlecase}}
      </ng-template>
      <ng-template let-index="index" let-item="item" let-search="searchTerm" ng-option-tmp>
        {{item.prenom | titlecase}} {{item.nom | uppercase}} - {{item.profil | titlecase}}
      </ng-template>
    </ng-select>
    <button (click)="connection()" [disabled]="!selectedUserId" mat-stroked-button>Connexion</button>
  </div>

</div>
