<div class="container">
  <div class="header">
    <button (click)="ajoutCreneau()" class="custom-button-blue" mat-raised-button mat-stroked-button>Ajouter</button>

    <div #selectTraining class="select-training-wrap-wrap">
      <div class="select-training-wrap">
        <div class="select-training">
          <ng-select
            (change)="selectedTrainingChange($event);"
            (close)="blur()"
            [(ngModel)]="displayedTrainingId"
            [class.hide-arrow]="hideArrow"
            [clearable]="false"
            [disabled]="authService.isStudent()"
            [items]="trainings"
            bindLabel="nom"
            bindValue="id">
          </ng-select>
        </div>
      </div>
    </div>
    <mat-form-field appearance="outline" id="fieldTypeClassEvents">
      <mat-label>Type de cours</mat-label>
      <mat-select (selectionChange)="removeFocus() ;setClassEvents()"
                  [(value)]="selectedTypeClassEvents">
        <mat-option [value]="allTypesClassEvents">{{allTypesClassEvents}}</mat-option>
        <mat-option *ngFor="let type of typesClassEvents " [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field #fieldDateFilter (click)="picker.open(); $event.stopPropagation()"
                    [style]="viewType === eTypeView.WEEK ? 'visibility: hidden' : ''"
                    appearance="outline" id="fieldDateFilter">
      <mat-label>Période</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input (dateChange)="setClassEvents()" [(ngModel)]="filterStartDate"
               matStartDate
               placeholder="Date de début">
        <input (dateChange)="setClassEvents()" [(ngModel)]="filterEndDate" matEndDate
               placeholder="Date de fin">
        <mat-datepicker-toggle [for]="picker" matSuffix>
          <mat-date-range-picker #picker [startAt]="filterStartDate"></mat-date-range-picker>
        </mat-datepicker-toggle>
      </mat-date-range-input>
    </mat-form-field>
    <mat-button-toggle-group (valueChange)="setClassEvents()" [(ngModel)]="viewType" fxFlex="none">
      <mat-button-toggle [value]=eTypeView.WEEK>
        <mat-icon>event</mat-icon>
        Vue Agenda
      </mat-button-toggle>
      <mat-button-toggle [value]="eTypeView.LIST">
        <mat-icon>list</mat-icon>
        Vue Liste
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <app-planning (edit)="ajoutCreneau($event)"
                (presents)="faireAppelCreneau($event)"
                (selectedWeekChange)="selectedWeek=$event"
                *ngIf="viewType == eTypeView.WEEK"
                [classEvents]="classEvents"
                [courses]="courses"
                [selectedWeek]="selectedWeek"
                [teachers]="teachers"
  ></app-planning>
  <app-liste (edit)="ajoutCreneau($event)"
             (presents)="faireAppelCreneau($event)"
             (delete)="deleteCreneau($event)"
             *ngIf="viewType == eTypeView.LIST"
             [classEvents]="classEvents"
             [courses]="courses"
             [selectedTraining]="training"
             [teachers]="teachers"
  ></app-liste>
</div>
