.container {
  .header {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      min-height: 45px
    }

    #fieldTypeClassEvents {
      width: 150px;
    }

    ::ng-deep .mat-form-field-wrapper {
      margin-bottom: -1.25em;
    }

    ::ng-deep .mat-form-field-underline {
      display: none;
    }

    .select-training-wrap-wrap {
      margin-bottom: 4px;
      display: flex;
    }

    .select-training-wrap {
      .select-training {
        min-width: 300px;
        cursor: pointer;
        display: flex;
        background: var(--main-gradient);
        padding: 2px 2px 2px 2px;
        height: 100%;
        margin: auto;

        ::ng-deep {
          .ng-select-container {
            padding-left: 50px !important;
            padding-right: 50px !important;
            background: white;
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            align-content: center;
            flex-wrap: wrap;
            height: inherit;

            .ng-value-container {
              justify-content: center;
              background: var(--main-gradient);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }

          ng-select {
            min-width: inherit;
            height: 100%;
            font-size: 20px;
          }

          ng-dropdown-panel {
            margin-top: 2px;
            font-size: 15px;
            cursor: pointer;
            display: flex;
            background: var(--main-gradient);
            padding: 2px 2px 2px 2px;
            height: auto;
            border-top: 0px;

            :first-child {
              width: 100%;
              background: white !important;
            }

            .ng-option:first-of-type {
              margin-top: 3px;
            }

            .ng-option {
              text-align: center;
            }
          }

          .ng-input input {
            font-size: 15px;
            text-align: center;
            background: black;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

      }

    }
  }

  ::ng-deep .hide-arrow {
    .ng-arrow-wrapper {
      display: none;
    }
  }
}

