<div class="container">
  <div (click)="planning.click()" class="pageLinkWrap {{getActive('/', true)}}">
    <div class="pageLink">
      <a #planning [routerLinkActiveOptions]="{exact: true}" routerLink="/"
         routerLinkActive="active">
        PLANNING
      </a>
    </div>
  </div>
  <!--  <div (click)="enseignements.click()" class="pageLinkWrap {{getActive('/enseignement')}}">-->
  <!--    <div class="pageLink">-->
  <!--      <a #enseignements routerLink="/enseignement" routerLinkActive="active">ENSEIGNEMENTS</a>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div (click)="apprenants.click()" class="pageLinkWrap {{getActive('/apprenant')}}">-->
  <!--    <div class="pageLink">-->
  <!--      <a #apprenants routerLink="/apprenant" routerLinkActive="active">APPRENANTS</a>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div (click)="enseignants.click()" class="pageLinkWrap {{getActive('/enseignants')}}">-->
  <!--    <div class="pageLink">-->
  <!--      <a #enseignants routerLink="/enseignant" routerLinkActive="active">ENSEIGNANTS</a>-->
  <!--    </div>-->
  <!--  </div>-->
  <div (click)="formation.click()" class="pageLinkWrap {{getActive('/formation')}}">
    <div class="pageLink">
      <a #formation routerLink="/formation" routerLinkActive="active">FORMATION</a>
    </div>
  </div>
</div>
