.container {
  background: var(--light-grey);
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 220px;
  height: 100vw;
  @media (max-width: 640px) {
    max-width: none;
    height: 100%;
  }

  a {
    font-size: 17px;
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .active .pageLink {
    background: var(--main-gradient);

    a {
      font-size: 22px;
      -webkit-text-fill-color: white;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .pageLink {
    text-align: center;
    padding: 12px 12px 10px 10px;
    background: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .pageLinkWrap {
    cursor: pointer;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 10px 10px 10px 0;
    background: var(--main-gradient);
    padding: 2px 2px 2px 0;
  }
}
